/*Foote-footer*/

.footer-footer {
  background: #333A44;
}

.footer-footer__more {
  display: flex;
  align-items: center;
}

.heade-wraper__img {
  display: block;
  width: 108px;
  height: 29px;
}

.navigation__list{ 
  display: flex;
  list-style-type: none;
  margin-bottom: 35px;
  margin-top: 35px;
}

.navigation__items ~ .navigation__items {
  margin-left: 18px;
}

.navigation__link {
  text-decoration: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: $color-text;
}

.navigation__link:hover {
  color: $color-yellow;
}

.footer-footer__media {
  margin-left: auto;
}

.footer-footer__href {
  margin-left: 18px;
} 

.footer-footer__svg path {
  margin-left: 50px;
  transition: all 0.3s ease;
}

.footer-footer__svg:hover {
  background: #E5ECF4;
}