/* main-section */

.main {
  background: linear-gradient( 
    90deg
    ,rgba(1, 29, 68, 0.6) 0%, rgba(1, 29, 68, 0.5) 100%), url(../../images/scoter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  margin-bottom: 120px;
}

.section__title {
  width: 518px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  color: $color-white;
  margin-top: 188px;
}

.section {
  background-image: url(../../images/icon/line.svg);
  background-repeat: no-repeat;
  background-position: calc(46% - -240px)54%,
}

.section-left {
  background-image: url(../../images/icon/line1.svg);
  background-repeat: no-repeat;
  background-position: calc(46% - 562px)39%,
}

.section__text {
  width: 405px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $color-white;
  margin-left: 70px;
  margin-bottom: 40px;
}

.section__button {
  padding: 14px 39px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: $color-white;
  background: $color-yellow;
  border: none;
  margin-left: 70px;
  margin-bottom: 166px;
  cursor: pointer;
}

.section__button:hover {
  background: rgba(147,156,170,.1);
  color: $color-yellow;
  border: 3px solid $color-yellow;
}


@include breakpoint-down (1200px) {
  .section-left {
    background-image: none;
  }

  .main {
    width: 1200px;
    background: linear-gradient( 
      90deg
      ,rgba(1, 29, 68, 0.6) 0%, rgba(1, 29, 68, 0.5) 100%), url(../../images/scoter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 96px;
  }
}

@include breakpoint-down (1000px) {
  
  .section__title {
    width: 568px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    background-image: url(../../images/icon/line.svg);
    background-repeat: no-repeat;
    background-position: calc(0% - 140px)100%,
  }

  .section__text {
    width: 573px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .section__button {
    margin-left: 450px;
  }
}

@include breakpoint-down (600px) {
  .main {
    background: linear-gradient( 
      90deg
      ,rgba(1, 29, 68, 0.6) 0%, rgba(1, 29, 68, 0.5) 100%), url(../../images/scoter.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 750px;
  }

  .section__button {
    margin-left: 250px;
  }
}

@include breakpoint-down (575px) {
  .section__title {
    width: 412px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }

  .section__text {
    width: 317px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .section {
    background-image: url(../../images/icon/line.svg);
    background-repeat: no-repeat;
    background-position: calc(0% - 280px)90%,
  }
} 